<% provide(:title, 'Contact') %>

<h1>Contact Us</h1>
<p>
  For more information about this project, please shoot us an
  <a href="mailto:info@wescargen.com?Subject=Sample%App" target="_top">
    email</a>.
</p>